<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /axiom
	RewriteCond %{REQUEST_FILENAME} !guestbook.php
    RewriteRule ^$ application/webroot/    [L]
	RewriteCond %{REQUEST_FILENAME} !guestbook.php
    RewriteRule (.*) application/webroot/$1 [L]
</IfModule>

php_flag short_open_tag 1
php_flag file_uploads 1
php_value upload_max_filesize 10M
php_value post_max_size 10M
